---
title: Home
---

<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->


  <% if(data.site.carousels.keys.size > 1) %>
  <ol class="carousel-indicators">
    <% for carousel_id in data.site.carousels.keys %>
    <li data-target="#myCarousel" data-slide-to="<%= carousel_id %>" class="<%= (carousel_id==1) ? 'active' : '' %>"></li>
    <% end %>
  </ol>
  <% end %>
 
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <% for carousel_id in data.site.carousels.keys %>

    <%
       image_text = data.site.carousels[carousel_id].image_text
       caption = data.site.carousels[carousel_id].caption
    %>
    

    <div class="<%= (carousel_id==1) ? 'item active' : 'item' %>">
      <div class="fill" style="background-image:url('<%= data.site.carousels[carousel_id].image %>');"></div>
      <% if(caption != 'nil') %>
      <div class="carousel-caption">
        <h1><%= caption %></h1>
      </div>
      <% end %>
    </div>

    <% end %>
  
  </div>
  
  <!-- Controls -->
  <% if(data.site.carousels.keys.size > 1) %>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
  <% end %>

</div>

<div class="section">
  
  <div class="container">
    
    <div class="row">

      <% for highlight_id in data.site.highlights.keys %>

      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-check-circle"></i> <%= data.site.highlights[highlight_id].name %></h3>
	<%= data.site.highlights[highlight_id].detail %>
      </div>

      <% end %>

    </div>
    <!-- /.row -->
    
  </div>
  <!-- /.container -->
  
</div>
<!-- /.section -->

<div class="container">
  
  <div class="row well">
    <div class="col-lg-2 col-md-2">
      <img class='img-responsive' src='<%= data.site.logo %>'>
    </div>
    <div class="col-lg-10 col-md-10">
      <%= data.site.description %>
    </div>
  </div>
  <!-- /.row -->
  
</div>

<!-- /.container -->
